body {
	font-family: 'Suez One', serif;
}

h1 {
	text-align: center;
	width: 300px;
	height: 60px;
	margin: auto;
	font-size: 2.8em;
}

#user-acount-page-wrapper {
	padding-top: 30px;
	height: 100%;
	min-height: calc(100vh - 17.8vh);
	width: 60%;
	min-width: 650px;
	max-width: 870px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff3cc;
	white-space: nowrap;
}

#firstname {
	margin-top: 0;
}

#table-outer {
	width: 50%;
	margin: auto;
	margin-top: 25px;
}

/* ----- All Image CSS for Profile Picture ------ */
#image-wrapper {
	width: 170px;
	height: 170px;
	border: 4px solid green;
	border-radius: 5px;
}

#display-image {
	height: 170px;
	object-fit: cover;
}

/* hide default choose file button */
#input-image {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#choose-file-button {
	font-family: 'Suez One', serif;
  display: inline-block;
  cursor: pointer; /* "hand" cursor */
  padding: 8px;
  width: 118px;
  margin-left: 4px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px green;
}

#choose-file-button:focus,
#choose-file-button:hover {
  background-color: #3e8e41
}

#choose-file-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#upload-file-button {
	font-family: 'Suez One', serif;
  display: inline-block;
  cursor: pointer; /* "hand" cursor */
  padding: 8px;
  width: 80%;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0085cc;
  box-shadow: 0 9px #004266;
}

#upload-file-button:focus,
#upload-file-button:hover {
  background-color: #006399
}

#upload-file-button:active {
  background-color: #006399;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* --------------------------------- */
ul#all-groups {
	padding: 0;
}

#user-data-form {
	float: left;
	text-align: left;
	width: 430px;
}

.input-field {
	resize: none;
	margin: 5px;
	width: 190px;
	border: 4px solid green;
	border-radius: 5px;
}

.large-input-field {
	resize: none;
	margin: 5px;
	width: 405px;
	border: 4px solid green;
	border-radius: 5px;
}

#biography {
	width: 405px;
}

#buttonTable {
	margin: auto;
	width: 85%;
}

/*-- GENERAL CONTROL BUTTON CSS --------------------------*/
.controleButton {
	font-family: 'Suez One', serif;
  display: inline-block;
  padding: 8px;
  width: 70px;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
}

.controleButton:active {
  transform: translateY(4px);
}

/*-- SAVE BUTTON --------------------------------------*/
#saveButton {
  color: #fff;
  background-color: #4CAF50;
  box-shadow: 0 9px green;
  margin-left: 81.8%;
}

#saveButton:hover {background-color: #3e8e41}

#saveButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
}

/*-- CLEAR BUTTON -------------------------------------*/
#clearButton {
	color: #fff;
  background-color: #b5b5b5;
  box-shadow: 0 9px #7a7a7a;
}

#clearButton:hover {background-color: #9b9b9b}

#clearButton:active {
  background-color: #9b9b9b;
  box-shadow: 0 5px #666;
}

/*-- DELETE BUTTON ------------------------------------*/
#deleteButton {
	margin-top: 8px;
	color: #fff;
  background-color: red;
  box-shadow: 0 9px darkred;
}

#deleteButton:hover {background-color: #b20000}

#deleteButton:active {
  background-color: #b20000;
  box-shadow: 0 5px #666;
}

/*-- VIEW BUTTON -------------------------------------*/
#viewButton {
	margin-top: 8px;
	color: #fff;
  background-color: #ffc919;
  box-shadow: 0 9px #bc930b;
}

#viewButton:hover {background-color: #d6a60a}

#viewButton:active {
  background-color: #d6a60a;
  box-shadow: 0 5px #666;
}

/* -- View Profile Page CSS --------------- */

#user-data-wrapper {
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
	padding-left: 20px;
}

#user-data-wrapper ul {
	list-style: none;
	padding-left: 0;

}

#user-data-wrapper li {
	margin-bottom: 20px;
	line-height: 1.6;
}

#user-data-wrapper h3 {
	font-family: 'Suez One', serif;
  font-size: 25pt;
  margin-top: 0;
  margin-bottom: 20px;
}

/* -- View Profile Page Buttons --------------- */
.view-page-buttons {
	font-family: 'Suez One', serif;
  display: inline-block;
  padding: 8px;
  width: 80%;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
}

.view-page-buttons:active {
  transform: translateY(4px);
}

#open-linkdin {
	color: #fff;
  background-color: #0085cc;
  box-shadow: 0 9px #004266;
}

#open-linkdin:hover {background-color: #006399}

#open-linkdin:active {
  background-color: #006399;
  box-shadow: 0 5px #666;
}

#edit-my-profile {
	color: #fff;
  background-color: #ffc919;
  box-shadow: 0 9px #bc930b;
}

#edit-my-profile:hover {background-color: #d6a60a}

#edit-my-profile:active {
  background-color: #d6a60a;
  box-shadow: 0 5px #666;
}


