html {
  height: 100%;
  min-height: 100%;
}
body {
  margin:0;
  padding:0;
  min-height: 100%;
}
h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 80%;
}
h2 {
  margin: 0;
  font-size: 1em;
}
/* Menu Bar */
#homebar{
  margin: 0;
  background-color:#ffc919;
  border-bottom: 1px solid #e6b000;
  font-family: 'Bowlby One SC', cursive;
  white-space: nowrap;
  box-shadow: 0px 1px 10px #888888;
}
#homebar li {
  display: inline-block;
  margin-left:1.5%;
  margin-right:1.5%;
  font-variant: small-caps;
  font-size: 1.41em;
}
.right {
  float: right;
  width: 25%;
}
.right li {
  width: 45%;
  float: right;
  display: inline;
  text-align: center;
}
#homebar a {
  text-decoration: none;
  color:black;
}

#homebar a:hover {
  font-weight: bold;
  cursor: pointer;
}
#homebar li:hover{
}
#homebar li:hover a{
  color:#1ece00;
}
#search {
  padding-top: 15px;
  text-align: center;
  left: 50%;
}
#button_box {
  display: inline-block;
}

#checkboxes {
  padding-top: 5px;
}
#container {
  min-height: calc(100vh - 20.3vh);
}
/* -- Footer CSS -- */
footer {
  text-align: center;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  color:#b3b3b3;
  background-color: #f2f2f2;
  border-top: 1px solid #e6e6e6;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;  
}

footer p {
  margin-bottom: 0px;
  margin-top: 0;
  vertical-align: bottom;
  line-height: 30px;
  font-size: 8.5pt;
}

#git-icon {
  text-align: center;
  display:inline-block;
  list-style-type:none;
}

#git-icon img {
  width:45px;
  height:45px;
}

#footer-organization {
  width: 50%;
  table-layout: auto;
  margin: auto;
  padding-top: 14px;
}

#footer-organization tr th {
  white-space: nowrap;
  color: #919191;
}

/*-------------------------------------*/
.cf:before, .cf:after{
  content:"";
  display:table;
}
.cf:after{
  clear:both;
}
.cf{
  zoom:1;
}
/*-------------------------------------*/

.form-wrapper-2 {
  width: 330px;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.5) inset, 0 1px 0px rgba(255,255,255,.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.form-wrapper-2 input {
  width: 250px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'Raleway', sans-serif;
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.form-wrapper-2 input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper-2 input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper-2 input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper-2 input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper-2 button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 70px;
  font: bold 14px/30px 'Raleway', sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: #ffb84d;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.form-wrapper-2 button:hover{
  background: #FA8807;
}
.form-wrapper-2 button:active,
.form-wrapper-2 button:focus{
  background: #c42f2f;
}
.form-wrapper-2 button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #ffb84d transparent;
  top: 12px;
  left: -6px;
}
.form-wrapper-2 button:hover:before{
  border-right-color: #FA8807;
}
.form-wrapper-2 button:focus:before{
  border-right-color: #c42f2f;
}
.form-wrapper-2 button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* -- Beginning of slideshow -- */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 0px 2px 8px #000000;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
