body {
  margin:0;
  padding:0;
}
h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 80%;
}
h2 {
  margin: 0;
  font-size: 1em;
}
/* Menu Bar */
#homebar{
  margin: 0;
  height: 3%;
  background-color:#ffc919;
  font-family: 'Bowlby One SC', cursive;
}
#homebar li {
  display: inline-block;
  margin-left:1.5%;
  margin-right:1.5%;
  font-variant: small-caps;
}
.right {
  float: right;
  width: 25%;
}
.right li {
  width: 45%;
  float: right;
  display: inline;
  text-align: center;
}
#homebar a {
  text-decoration: none;
  color:black;
  font-size: 1.41em;
}

#homebar a:hover {
  font-weight: bold;
  cursor: pointer;
}
#homebar li:hover{
}
#homebar li:hover a{
  color:#1ece00;
}
.searchBlocks {
  width: 100%;
  height: 40%;
}
#footer {
  background-color: rgba(0,0,0,0.1);
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  text-align: center;
  color:#79a9f7;
  left: 0;
  bottom: 0;
  height: 3%;
  position: absolute;
  width: 100%;
  margin-top: 10%;
}

.button_box {
  margin: 2% auto;
  padding-left: 35%;
}
/*-------------------------------------*/
.cf:before, .cf:after{
  content:"";
  display:table;
}
.cf:after{
  clear:both;
}
.cf{
  zoom:1;
}
/*-------------------------------------*/

.form-wrapper-2 {
  width: 330px;
  padding: 7px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.form-wrapper-2 input {
  width: 250px;
  height: 20px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'Raleway', sans-serif;
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.form-wrapper-2 input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper-2 input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper-2 input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper-2 input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper-2 button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 70px;
  font: bold 14px/30px 'Raleway', sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: #ffb84d;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.form-wrapper-2 button:hover{
  background: #FA8807;
}
.form-wrapper-2 button:active,
.form-wrapper-2 button:focus{
  background: #c42f2f;
}
.form-wrapper-2 button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #ffb84d transparent;
  top: 12px;
  left: -6px;
}
.form-wrapper-2 button:hover:before{
  border-right-color: #FA8807;
}
.form-wrapper-2 button:focus:before{
  border-right-color: #c42f2f;
}
.form-wrapper-2 button::-moz-focus-inner {
  border: 0;
  padding: 0;
}