.border {
  border: 6px solid green;
  width: 100%;
}
.blocks {
  padding-left: 10%;
  padding-top: 2.5%;
}
#profile_block {
  width: 50%;
  height: 55%;
  margin-left: 25%;
  margin-top: 5%;
  border: 13px solid green;
  border-radius: 25px;
  font-family: 'Suez One', serif;
  font-size: 1.3em;
}
.title2 {
  font-size: 1.2em;
}
#joinRequest {
  float: right;
  font-family: 'Signika', sans-serif;
  font-size: 1em;
  font-weight: bold; 
  color: grey;
  background-color: orange;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #B17300;
  margin-right: 9%;
}
#abstract {
  width: 80%;
  padding-bottom: 3%;
}
#group_members {
}
#group_members ul {
}
#groupName {
  margin-bottom: 5%;
  width: 100%;
  font-size: 2.8em;
  display: inline-block;
}
#projectProgress {
}