.border {
  border: 6px solid green;
  width: 100%;
}
.blocks {
  padding-left: 10%;
  padding-top: 2.5%;
}
#profile_block {
  width: 50%;
  height: 55%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 4%;
  border: 13px solid green;
  border-radius: 25px;
  font-family: 'Suez One', serif;
  font-size: 1.3em;
}
.title2 {
  font-size: 1.2em;
}
#joinRequest {
  float: right;
  font-family: 'Signika', sans-serif;
  font-size: 1em;
  font-weight: bold; 
  color: grey;
  background-color: orange;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #B17300;
  margin-right: 9%;
}
#abstract {
  width: 80%;
  padding-bottom: 3%;
}
#group_members {
}
#group_members ul {
}
#groupName {
  margin-bottom: 5%;
  width: 100%;
  font-size: 2.8em;
  display: inline-block;
}
#projectProgress {
<<<<<<< HEAD
}
.input-field {
  vertical-align: bottom;
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
  height: 40px;
  border: 5px solid green;
  border-radius: 5px;
}
.addButton {
  vertical-align: bottom;
  color: #fff;
  background-color: #4CAF50;
  box-shadow: 0 5px green;
  font-family: 'Suez One', serif;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 6px;
}
#submitBtn {
  margin-top: 3%;
  margin-left: 63.5%;
  margin-bottom: 10%;
  color: #fff;
  background-color: #ffc919;
  box-shadow: 0 6px #bc930b;
=======
>>>>>>> parent of 08484cd... edit page for group profile page
}